.component-test {
  display: flex;
  padding: 41px;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  border-radius: 20px 90px;

  background-color: hsla(0, 100.00%, 50.00%, 1.00);
}

.component-img {
  width: 200px;
  height: 100%;
  object-fit: contain;
}

.component-text {
  display: flex;
  flex-direction: column;
}

#w-node-_01b3e2dc-3c71-1ea1-3cef-451f9c45574d-9c45574d {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}