.section-sign {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsla(0, 0.00%, 0.00%, 1.00);
}

.background-animation {
  position: absolute;

  display: flex;
  width: 250svw;
  height: 100%;
  margin-left: -100svw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  background-color: hsla(0, 0.00%, 0.00%, 1.00);
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 0.00%, 0.40),hsla(0, 0.00%, 0.00%, 0.40)), url("https://uploads-ssl.webflow.com/64cbe23719cf4bc2b30c2932/64cf628ed9d267abe7018eec_background-intro.png");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 120svw;
  background-repeat: repeat, repeat-x;

  filter: blur(10px);
}

.container-small {
  position: relative;
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.content-sign_in {
  position: relative;
  z-index: 2;

  display: flex;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;

  border-radius: 8px;
}

.background-color-paper {
  background-image: url("https://uploads-ssl.webflow.com/64cbe23719cf4bc2b30c2932/64cbeeb723ced942769af6dc_Paper.png");
  background-position: 0px 0px;
  background-size: cover;
  box-shadow: inset 0 0 16px 0 hsla(0, 0.00%, 0.00%, 0.80);
}

.content-sign_in.background-color-paper.padding-large {
  flex-direction: column;
  align-items: center;
}

.padding-large {
  padding: 3rem;
}

@media screen and (max-width: 991px) {
  .padding-large {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-large {
    padding: 1.5rem;
  }
}

.inscription-title {
  height: 50px;
  object-fit: contain;
}

.text-size-small {
  font-size: 0.8rem;
}

.form-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.form-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.margin-vertical {
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-xsmall {
  margin: 0.5rem;
}

.input-wrapper {
  width: 100%;
}

.text-size-regular {
  font-size: 0.9rem;
  font-weight: 500;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-weight-bold {
  font-weight: 700;
}

.hide {
  display: none;
}

.form_input {
  min-height: 3rem;
  margin-bottom: 3px;
  padding: 0.5rem 1rem;

  border: 2px solid var(--saddleBrown-35c41fbe);
  border-radius: 4px;

  background-color: hsla(0, 0.00%, 100.00%, 0.00);
  background-image: linear-gradient(60deg, hsla(0, 0.00%, 100.00%, 0.10), hsla(0, 0.00%, 100.00%, 0.14));

  backdrop-filter: blur(2px);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: 0.75rem;
}

.button {
  display: flex;
  height: 50px;
  margin-bottom: 3px;
  padding: 0.25rem 1.5rem 0rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.25rem;

  background-color: var(--tan-00f7ad81);

  box-shadow: 0 3px 0 0 var(--saddleBrown-35c41fbe);

  transition: all 150ms cubic-bezier(.608, .048, .25, 1);

  font-family: Jomhuria;
  color: var(--saddleBrown-35c41fbe);
  font-size: 2rem;
  line-height: 0.5;
  font-weight: 400;
  text-align: center;
}

.button:hover {
  background-color: var(--tan-d8250a75);
  color: var(--black-729cdd37);
}

.button:active {
  margin-top: 3px;
  margin-bottom: 0px;
  box-shadow: 0 0 0 0 var(--saddleBrown-35c41fbe);
  opacity: 0.7;
}

.button.is-third {
  background-color: transparent;
  box-shadow: none;
  color: var(--tan-00f7ad81);
}

.button.is-third:hover {
  color: #d1be92;
}

.button.is-small {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.button.is-large {
  padding-right: 2rem;
  padding-left: 2rem;
}

.button.is-secondary {
  position: relative;
  z-index: 1;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);

  background-color: transparent;

  box-shadow: 0 3px 0 0 hsla(42.10526315789474, 0.00%, 100.00%, 0.70);

  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.button.is-secondary:hover {
  border-color: var(--tan-00f7ad81);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-style: solid;

  box-shadow: 0 3px 0 0 hsla(34.2857142857143, 35.14%, 38.97%, 1.00);

  color: var(--tan-00f7ad81);
}

.button.is-secondary:active {
  box-shadow: 0 0 0 0 var(--black-729cdd37);
}

.button.is-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  text-decoration: none;
}

.button.is-warning {
  position: relative;
  z-index: 1;

  border: 1px solid #e75959;

  background-color: transparent;

  box-shadow: 0 3px 0 0 #e75959;

  color: hsla(0, 74.87%, 62.86%, 1.00);
}

.button.is-warning:hover {
  border: 1px solid #df2323;
  box-shadow: 0 3px 0 0 #df2323;
  color: hsla(0, 74.43%, 50.46%, 1.00);
}

.button.is-icon {
  position: relative;
  z-index: 1;

  width: 50px;
  padding: 0.5rem;

  border: 1px solid var(--tan-d8250a75);

  background-color: transparent;

  box-shadow: 0 3px 0 0 var(--tan-d8250a75);

  color: var(--tan-d8250a75);
}

.button.is-icon:hover {
  border-color: var(--tan-00f7ad81);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-style: solid;

  box-shadow: 0 3px 0 0 var(--tan-00f7ad81);

  color: var(--tan-00f7ad81);
}

.button.is-icon.is-warning {
  border-width: 1px;
  border-color: #e75959;
  box-shadow: 0 3px 0 0 #e75959;
}

.button.is-icon.is-warning:hover {
  border-style: solid;
  border-color: #df2323;
  box-shadow: 0 3px 0 0 #df2323;
  color: #df2323;
}

.button.is-profil {
  position: relative;
  z-index: 1;

  overflow: hidden;
  width: 50px;
  padding: 0rem;

  border: 1px solid var(--tan-d8250a75);
  border-radius: 100rem;

  background-color: transparent;

  box-shadow: 0 3px 0 0 var(--tan-d8250a75);

  color: var(--tan-d8250a75);
}

.button.is-profil:hover {
  border-color: var(--tan-00f7ad81);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-style: solid;

  box-shadow: 0 3px 0 0 var(--tan-00f7ad81);

  color: var(--tan-00f7ad81);
}

.button.is-profil.is-warning {
  border-width: 1px;
  border-color: #e75959;
  box-shadow: 0 3px 0 0 #e75959;
}

.button.is-profil.is-warning:hover {
  border-style: solid;
  border-color: #df2323;
  box-shadow: 0 3px 0 0 #df2323;
  color: #df2323;
}